@media(max-width:3000px) and (min-width: 1700px){
}
@media(max-width: 1760px) and (min-width: 1367px) {
    #requestbtn {padding: 12px 1.25vw;}
    #services .nav-box {margin: 2.469vw 0 6.333vw 26px;}
    #about .left-sec p {font-size: 1vw; line-height: 1.5vw;}
    #about .left-sec p br {display: none;}
    #why .left-sec {padding-top: 12vw;}
    #why .usp-wrapp {padding: 9.313vw 4.531vw;}
    #why .single-usp img {height: 4.208vw;}
    .map-form {margin-top: 6.344vw;}
    .map-wrapper {height: 35.021vw;}
    .req-form-wrapp .tab-pane .checkbox-container {font-size: 0.9vw;}
}
@media(max-width: 1366px) {
    #about-page .section {padding-top: 10.292vw;}
    /*.breadcum h1 {
        font-size: 50px;
    }
    .get-response .contact {
        width: 90%;
    }
    .caption-heading {
        position: absolute;
        top: 58%;
    }
    .breadcum_list {
        position: absolute;
        bottom: 25px;
    }
    .social-box .twitter, .social-box .insta, .social-box .facebook, .social-box .linkedin {
        margin-top: -18px;
    }*/
}
@media(max-width: 1024px) {
    .navbar-expand-md .navbar-nav .nav-link {
        font-size: 14px;
        padding: 0px 5px;
    }
    .navbar-brand img {
        width: 75%;
    }
    /*.navbar-brand {
        position: absolute;
        top: 10px;
    }*/
    .navbar-expand-md .navbar-nav .nav-link i {
        margin-top: -4px;
    }
    .sectionf, .vh100, .vh-100 {
        height: auto !important; 
    }
    #about-page .section {
        padding-top: 5.292vw;
        padding-bottom: 5.551vw;
    }
}
@media(max-width: 992px) {
    div#mobile-menu-tig {
        display: flex;
        align-items: center;
        gap: 15px;
    }
    header .mobile-navbar.open {
        right: 0%;
    }
    .navbar-toggler .icon-bar {
        display: block;
        width: 25px;
        height: 2px;
        border-radius: 0px;
        background-color: #333399;
        position: relative;
        margin: 4px auto;
        transition: all ease-in-out 0.3s;
        -webkit-transition: all ease-in-out 0.3s;
        -moz-transition: all ease-in-out 0.3s;
        -o-transition: all ease-in-out 0.3s;
    }
    header .navbar-toggler.active .icon-bar.one {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 5px;
    }
    header .navbar-toggler.active .icon-bar.two {
        transform: translateX(40px);
        -webkit-transform: translateX(40px);
        -moz-transform: translateX(40px);
        -o-transform: translateX(40px);
    }
    header .navbar-toggler.active .icon-bar.three {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        bottom: 7px;
    }
    .mobile-navbar .navbar-nav {display: block;}
    header .navbar-toggler, header .navbar-toggler:focus {
        border: 0;
        outline: 0;
        padding: 0;
        width: 25px;
        height: 25px;
        position: relative;
        overflow: hidden;
        z-index: 2;
        margin: 0px 15px 0 0;
        top: 6px;
    }
    header .mobile-navbar.open {
        left: 0%;
        top: 49px;
    }
    header .mobile-navbar {
        z-index: 2;
        width: 100%;
        position: fixed;
        top: 0;
        padding: 0px;
        z-index: 1;
        left: -100%;
        background-color: #FCFCFC;
        height: 100vh;
        overflow-y: unset;
        transition: all 0.3s;
    }
    .navbar-brand {
        top: 1px;
        left: 15px;
    }
    .navbar-brand img {
        margin: inherit;
        width: 75%;
        margin-top: 8px;
        display: flex;
        justify-content: center;
    }
    .navbar-expand-md .navbar-toggler {
        display: block;
        position: relative;
        top: 0px;
        margin: 0px 15px 0 0;
    }
    .navbar-expand-md .navbar-toggler:focus{
        box-shadow: none;
    }
    .navbar-expand-md .navbar-nav .nav-link::before {
        display: none;
    }
    .navbar-expand-md .navbar-nav .nav-link {
        font-size: 3.327vw;
        line-height: 2.212vw;
        padding: 0px 0 0 3.226vw;
        margin-bottom: 4.032vw;
        text-align: left;
        color: #191919;
        font-family: 'Montserrat';
        font-weight: 500;
    }
    header .navbar-expand-md .navbar-nav .nav-link.active, header .navbar-expand-md .navbar-nav .nav-link:hover {color: #CC3333;}
    header .navbar-expand-md .navbar-nav .nav-link.active {font-weight: 500;}
    #header-btn a img {
        width: 2.667vw;
        height: 2.667vw;
    }
    #header-btn {gap: 10px;}
    .requestbtn {
        margin-top: 2.419vw;
        display: inline-block;
        margin-left: 3.226vw;
        font-size: 3.327vw;
        line-height: 2.212vw;
        padding: 3.327vw 2.212vw;
    }
    .btm-strip a {
        font-size: 15px;
        color: #fff;
    }
    .btm-strip p {
        color: #FFFFFF;
        font-size: 15px;
        font-weight: 400;
    }
    #services .nav-box {
        margin: 4.469vw 0 2.333vw 26px;
    }
    #services iframe {height: auto !important;}
    .left-sec {padding-top: 6vw; padding-bottom: 5vw;}
    .left-sec p br {display: none;}
    #why .usp-wrapp {padding: 2.313vw 3.531vw;}
    .section-title {margin-left: 1px;}
    .main-footer .container-fluid {padding-top: 2.5vw;}
    .requestbtn {
        font-size: 3.327vw;
        line-height: 2.212vw;
        padding: 2vw 3vw;
        margin-left: 3.226vw;
    }
    #about-page .about-wrapper {padding-top: 5vw !important;}
    .req-form-wrapper {padding-left: 1px; padding-top: 10.667vw; padding-bottom: 5.333vw;}
    .req-form-wrapp ul li a span {padding-top: 1px; border-width: 1px;}
    .req-form-wrapp ul li a span:before {height: 7px; width: 10px;}
    .map-form {margin-top: 10.677vw;}
}
@media(max-width: 767px) {
    .tab-content>.tab-pane, .accordion-header {
        display: block;
        opacity: 1;
    }
    .navbar-brand {
        top: 1px;
        left: 0px;
    }
    .navbar-brand img {
        margin: inherit;
        width: auto;
        margin-top: 8px;
        height: 36px;
    }
    .mobile-navbar .navbar-nav {
        margin-top: -50%;
        margin-left: 20px;
        display: block;
    }
    header {height: 68px;}
    header .mobile-navbar {
        top: 66px;
    }
    .left-side.nav-box.sticky {
        display: none;
    }
    .btm-strip p {
        font-size: 12px;
    }
    .main-footer {
        padding: 50px 0px 25px;
    }
    .btm-strip a {
        font-size: 11px;
        color: #fff;
    }
    .btm-strip p {
        font-size: 11px;
    }
    .main-head, header .container-fluid, .navbar-expand-md {height: 100%;}
    #header-btn {gap: 16px;}
    #header-btn a, #header-btn a img {height: 32px; width: 32px;}
    header .navbar-toggler, header .navbar-toggler:focus, .navbar-expand-md .navbar-toggler {margin: 0px 8px 0 0; top: 0 !important;}
    header .mobile-navbar.open {top: 68px;}
    .section-fifty {flex-direction: column;}
    .left-sec, .big-img, #why .usp-wrapp, .message-img, #services .service-wrapper {width: 100%;}
    header .container-fluid {padding: 0 24px;}
    .mid-line:before, .blue-mid-line:before {display: none;}
}
@media(min-width:768px) {
}